<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment (title='Notes')"></head>
<body>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="right" th:include="fragments/layout :: logoutFragment"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>Notes List</h1>
            <ul class="collection">
                <li class="collection-item" th:each="note : ${notes}">
                    <a th:href="@{/{id}(id=${note.id})}">
                        <span th:text="${note.name}"></span>
                    </a>
                </li>
            </ul>
            <a th:if="${account.hasAuthority('EDIT')}" th:href="@{/add}" class="waves-effect waves-light btn">Add Note</a>
        </div>
    </div>
</div>

<div th:include="fragments/layout :: scriptsFragment" th:remove="tag"></div>
</body>
</html>