<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment (title='Note')"></head>
<body>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="right" th:include="fragments/layout :: logoutFragment"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title" th:text="${note.name}"></span>
                    <p th:text="${note.content}"></p>
                </div>
                <div class="card-action">
                    <form th:action="@{/remove/{id}(id=${note.id})}" th:if="${account.hasAuthority('REMOVE')}" method="post">
                        <button class="waves-effect waves-light btn" type="submit">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/layout :: scriptsFragment" th:remove="tag"></div>
</body>
</html>
